.hamburgerClose {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.hamburgerClose span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  transition: all .5s ease-in-out;
}

.hamburgerClose span:first-child {
  transform: translate(-50%, calc(-50% - 6px));
}
.hamburgerClose span:last-child {
  transform: translate(-50%, calc(-50% + 6px));
}

.hamburgerOpen span:nth-child(1) {
  background-color: transparent;
  transform: translate(-50%, calc(-50% - 10px));
}
.hamburgerOpen span:nth-child(4) {
  background-color: transparent;
  transform: translate(-50%, calc(-50% + 10px));
}

.hamburgerOpen span:nth-child(2),
.hamburgerOpen span:nth-child(3) {
  background-color: tomato;
  width: 1.3rem;
  height: 3px;
}

.hamburgerOpen span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburgerOpen span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
