.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem .5rem 0;
  font-weight: 700;
}
.container svg {
  width: 15px;
  color: #fff;
}
.container p {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.markdown svg {
  color: #0f0;
}
.markdown p {
  color: #0f0;
  margin-left: 5px;
}
